body {
    background-color: $background-body;
    background-image: url(/app/assets/images/bg-full-screen.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.page-layout  {
    margin: 50px 0;
    @include media-breakpoint-down(sm) {
        margin: 25px 0;
    }
}

.container-medium {
    background: linear-gradient(138deg, #b4b4b4, #353535, #5c5c5c, #00E8B4 );
    max-width: 700px;
    border-radius: 24px;
    padding: 25px 40px 5px;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: linear-gradient(40deg, #5c5c5c, #b4b4b4, #b4b4b4, #353535);
        position: absolute;
        border-radius: 24px;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    &::after {
        content: '';
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: linear-gradient(#353535, #303030);
        // background: linear-gradient(155.76deg, rgba(255, 252, 246, 0.06) 2.27%, rgba(255, 252, 246, 0) 100.27%);
        position: absolute;
        border-radius: 24px;
        left: 1px;
        top: 1px;
        z-index: -1;
    }

    @media (min-width: 1200px) and (max-width: 1500px) {
        margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);
        padding: 15px;
    }
}

.box-btn {
    margin: 0;

    a {
        text-decoration: none;
    }
}

.item-product {
    .btn-tm {
        background: #424242!important;
        border-radius: 16px;
        border: 1px solid #424242!important;;
        color: #EAEAEA !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px 0;
        padding: 15px 0px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        transition: all 0s;
        font-family: Roboto;

        @include media-breakpoint-down(sm) {
            padding: 10px 15px;
            font-size: 12px;
            min-height: 70px;
            margin: 10px 0 0 0;
        }

        span {
            color: #8B8B8B;
            font-weight: normal;
            text-transform: none;
        }

        .b-icon {
            color: #00E8B5;
        }

        &:hover {
            background: #2e3835!important;
            border: 1px solid #00E8B4!important;

            // .b-icon {
            //     color: #ffffff;
            // }

            // span {
            //     color: #ffffff;
            // }
        }

        &:last-child {
            border-bottom: 1px solid #f2f2f2;
        }

        .logo-icon {
            height: 24px;
        }
    }
}

.error {
    // color: #e64450!important;
    font-size: 13px;
}

.custom-checkbox .custom-control-label::before {
    border-color: #888;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #1990FF;
    background-color: #1990FF;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #1990FF;
}

.position-md-absolute {
    @include media-breakpoint-up(md) {
        position: absolute;
    }
}

.h3 {
    font-size: 18px;

    // opacity: .7;
    // font-weight: bold;
    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}

.open-product {
    .logo-bri {
        height: 50px;
    }
}

.st-ul {
    padding-left: 25px;
    list-style: square;
    font-size: 28px;
    color: $color-primary;
    .li-span {
        font-size: 18px;
        color: $color-text;
    }
}

.tomo-footer-product {

    @include fsz(13);

    @include media-breakpoint-down(sm) {
        text-align: center;
    }

    .tomo-meta-links {
        ul {
            @include media-breakpoint-down(md) {
                margin: 0 -10px;
            }

            li {
                display: inline-block;
                padding-right: 10px;
                margin-right: 10px;
                position: relative;

                @media (min-width: 1025px) and (max-width: 1365px) {
                    padding-right: 7px;
                    margin-right: 7px;
                }

                @media screen and (max-width: 320px) {
                    padding-right: 4px;
                    margin-right: 4px;
                }

                &::after {
                    content: "";
                    background: rgba(#888, .3);
                    width: 1px;
                    height: 12px;
                    position: absolute;
                    right: 0;
                    margin-top: 6px;

                    @include media-breakpoint-down(md) {
                        height: 10px;
                    }
                }

                &:last-child {
                    padding-right: 0;
                    margin-right: 0;

                    &::after {
                        display: none;
                    }
                }

                a {
                    // color: #242428;
                    color: #888;
                    text-decoration: none;
                    transition: all 0s ease;

                    &:hover {
                        color: #1990FF;
                    }
                }
            }
        }
    }

    .tomob {
        ul {
            text-align: right;

            @include media-breakpoint-down(md) {
                text-align: center;
            }

            li {
                display: inline-block;
                padding: 3px;

                a {
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

// title

.title-tmp-large {
    font-weight: bold;
    font-size: 24px;
    color: #D8D8D8;
}

.title-tmp-medium {
    font-weight: bold;
    font-size: 18px;
    color: #D8D8D8;
}

.text-blue {
    color: #1990FF!important;
}

.txt-dec {
    color: #8B8B8B;
}

.txt-dec-tem-2 {
    color: #D8D8D8;
}