.login__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        display: block;
        max-width: 25px;
    }

    @include media-breakpoint-up(lg) {
        img {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 10px;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    @include media-breakpoint-up(xxl) {
        button {
            font-size: $global-font-size-xl;
        }

        +.text-error {
            margin-top: -15px;
        }
    }

}