.multiselect {
    color: $color-text;
    position: relative;
}

.multiselect__select {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    &::before {
        content: "";
        border-top: 0.5em solid #8B8B8B;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
        top: 50%;
        right: 3px;
        position: absolute;
        transform: translateY(-50%);
    }
}

// .multiselect__tags {
//     background: #434343!important;
//     border-radius: 4px;
//     cursor: pointer;
//     font-size: 15px;
//     padding: 5px 15px;

//     @extend %transition;

//     @include media-breakpoint-up(lg) {
//         padding: 10px 15px;
//     }
// }

.multiselect__single {
    width: 100%;
}

input[type=text],
input[type=number],
input[type=password],
.multiselect__tags,
.bg_input_tags {
    background: #434343!important;
    border-radius: 8px;
    padding: 5px 15px;
    color: #fff;
    height: 42px;
    display: flex;
    align-items: center;
    @extend %transition;
    @include media-breakpoint-up(lg) {
        padding: 8px 15px;
    }
}

.multiselect--active .multiselect__tags {
    background: #434343!important;
}
.bg_input_tags {
    color: #8B8B8B;
}

input[type=text]:focus,
input[type=text]:active,
input[type=number]:focus,
input[type=number]:active,
input[type=password]:focus,
input[type=password]:active {
    background: #434343!important;
    color: #fff;
}

.multiselect__placeholder {
    line-height: 25px;
}

.multiselect__input {
    background-color: transparent !important;
    border: none !important;
    line-height: 22px;
    padding: 0 !important;
    transition: none !important;
}

.multiselect__content {
    background: rgba(96, 96, 96, 1);
    border-radius: 8px;
    left: 0;
    list-style-type: none;
    margin: 0;
    max-height: 240px;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: calc(100% + 3px);
    width: 100%;
    z-index: 99;
}

.multiselect__option {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    width: 100%;

    @extend %transition;
}

.multiselect__option:hover,
.multiselect__option--selected {
    background: rgba(rgb(236, 236, 236), 0.5);
}

.multiselect__img {
    display: inline-block;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
    width: 25px;
}

.multiselect__name {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.multiselect_greentick {
    color: $color-primary;
    font-size: 12px;
}