.token-max {
  background-color: rgb(240, 240, 240)!important;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  color: $color-dark!important;
  position: absolute;
  right: 30px;
  top: 0;
  padding: 5px;
  top: 28%;
  transform: translateY(-50%);
  &:hover {
    background-color: rgb(226, 226, 226)!important;
  }
}

.add-address {
  background-color: rgb(240, 240, 240)!important;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  color: $color-dark!important;
  position: absolute;
  right: 30px;
  top: 0;
  padding: 5px;
  top: 78%;
  transform: translateY(-50%);
  &:hover {
    background-color: rgb(226, 226, 226)!important;
  }
}