body {
  font-family: $global-fonts;
  font-size: $global-font-size-md;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-up(md) {
    font-size: $global-font-size-md;
  }

  @include media-breakpoint-up(xl) {
    font-size: $global-font-size-xl;
  }
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  opacity: .6;
}