button,
.btn {
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  text-align: center;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

button.btn--big,
.btn.btn--big {
  @include media-breakpoint-up(md) {
    font-size: $global-font-size-md;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;

  @extend %transition;

  &.disabled {
    background-color: #d2d2d6;
  }
}

.btn-secondary {
  background-color: $color-bg;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}


.st-next {
  background: #00e9b4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: none;
  position: relative;
  color: #000 !important;
  font-family: $global-fonts;
  min-width: 200px;
  svg {
      transition: all .3s;
      margin-left: 15px;
  }
  &:hover {
      svg {
          transform: translateX(20px);
      }
  }
}

.st-back {
  background: transparent!important;
  color: #000 !important;
  display: flex;
  align-items: center;
  min-width: 50px;
  svg {
      transition: all .3s;
      margin-right: 15px;
  }
  &:hover {
      svg {
          transform: translateX(-20px);
      }
  }
}