button,
.btn {
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  text-align: center;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

button.btn--big,
.btn.btn--big {
  @include media-breakpoint-up(md) {
    font-size: $global-font-size-md;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;

  @extend %transition;

  &.disabled {
    background-color: #d2d2d6;
  }
}

.btn-secondary {
  background-color: #00E8B4;
  color: #353535;
  font-weight: bold;

  &:hover {
    background-color: #25fdce;
    color: #353535;
  }
}


.st-next {
  background: #fff!important;
  border: 1px solid #D8D8D8!important;
  box-sizing: border-box;
  border-radius: 8px;
  color: #282828!important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  margin-left: 15px;
  &.disabled {
    background: #D8D8D8!important;
    color: #8B8B8B!important;
  }
  svg {
      transition: all .3s;
      margin-left: 15px;
  }
  &:hover {
      svg {
          transform: translateX(20px);
      }
  }
}

.st-back {
  background: transparent!important;
  border: 1px solid #00E8B4!important;
  box-sizing: border-box;
  border-radius: 8px;
  color: #00E8B4!important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  svg {
      transition: all .3s;
      margin-right: 15px;
  }
  &:hover {
      svg {
          transform: translateX(-20px);
      }
  }
}